body {
 background-color: pink;
 font-family: Arial, Helvetica, sans-serif;
 display: flex;
 flex-wrap: wrap;
}
h1 {
 color: red;
 text-align: center;
 width: 100%;
 display: block;
}
h1:hover {
 color: red;
 text-align: center;
 width: 100%;
 display: block;
}
a {
 text-decoration: none;
 color: black;
}
.assign {
 background-color: white;
 margin: 10px;
 padding: 10px;
 border-radius: 20px;
 width: 20%;
 box-shadow: 8px 8px pink;
 display: block; /* instead of flex */
}
.assign img {
 width: 200px;
 margin: 10px;
 border: 2px pink;
}
.assign img:hover {
 width: 200px;
 margin: 10px;
 border: 2px pink;
}
